.search-box {
    --webkit-appearance: none;
    font-size: 1.6rem;
    height: 5rem;
    line-height: 1.8rem;
    margin-bottom: 2.2rem;
    padding: .5rem;
    width: 15rem;
}

.search-box:focus-visible {
    outline: none;
}