@import url('https://fonts.googleapis.com/css2?family=Bigelow+Rules&display=swap');

:root {

  --bs-card-spacer-y: 1.6rem;
  --bs-card-spacer-x: 1.6rem;

  --bs-card-border-width: 1px;
  --bs-card-border-color: #212529;

  --bs-card-border-radius: 1rem;

  --bs-card-color: #fff;
  --bs-card-bg: rgb(0 249 241 / 48%);
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}
*, *:after, *:before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
body {
  font-size: 16px;
  background: linear-gradient(to left, rgba(7, 27, 82, 1) 0%, rgba(0, 128, 128, 1) 100%);
}

h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.6rem;
}

.app {
  text-align: center;
}

.app-title {
  color: #0ccac4;
  font-family: 'Bigelow Rules', cursive;
  font-size: 6rem;
  font-weight: 700;
  margin-top: 4rem;
  margin-bottom: 3rem;
}